<section id="skills" class="offset bg-cover grayscale">
        <ui-headline [title]="['professional skills']"></ui-headline>
        <div class="row">
            <div class="small-12 columns">
                <h4 class="title">Coding</h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-6 columns">
                
                <table>
                    <tr>
                        <td><i class="fa fa-html5"></i>&nbsp; HTML(5)</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-css3"></i>&nbsp; CSS(3)</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>XML</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>JavaScript (ES5/ES6)</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>TypeScript</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>JSON</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>LESS / SASS <i class="fa fa-heart-o"></i></td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AngularJS / Angular 2</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Ionic</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>JQuery</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Gulp / Grunt / Webpack</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Npm / Yeoman / Bower / Composer</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Bootstrap / Zurb Foundation <i class="fa fa-heart-o"></i></td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-wordpress"></i>&nbsp; Wordpress / Joomla / Mogento</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Object Oriented Programming</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>PHP</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>MySql</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="small-12 large-6 columns">
                <table>
                    <tr>
                        <td>MongoDB</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>DynamoDB</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Redis / ElastiCache</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>REST API</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>oAuth 2.0</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Node.js</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Express</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                </table>
                <h4 class="title">Other</h4>
                <hr />
                <table>
                    <tr>
                        <td><i class="fa fa-search"></i>&nbsp; SEO / Marketing</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Project managment / CTO</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Server scalability</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                </table>
                <h4 class="title">Interested in learning</h4>
                <hr />
                <table>
                    <tr>
                        <td>Ruby</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Java</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Swift</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <h4 class="title">Platforms / Tools</h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-6 columns">
                <table>
                    <tr>
                        <td><i class="fa fa-windows"></i>&nbsp; Windows</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-apple"></i>&nbsp; MAC</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-linux"></i>&nbsp; Linux</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Microsoft Office</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Adobe suite</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="small-12 large-6 columns">
                <table>
                    <tr>
                        <td>Netbeans</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Sublime Text <i class="fa fa-heart-o"></i></td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Visual Studio Code <i class="fa fa-heart-o"></i></td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Notepad++</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <h4 class="title">Languages</h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-6 columns">
                <table>
                    <tr>
                        <td><i class="flag-icon flag-icon-us"></i>&nbsp; English (native)</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="flag-icon flag-icon-ru"></i>&nbsp; Russian (native)</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="flag-icon flag-icon-lv"></i>&nbsp; Latvian (native)</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="small-12 large-6 columns">
                <table>
                    <tr>
                        <td><i class="flag-icon flag-icon-de"></i>&nbsp; German (poor)</td>
                        <td class="text-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                            <i class="fa fa-star disabled"></i>
                        </td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </section>
