<!-- screen -->
<app-home-screen></app-home-screen>



<!-- navigation -->
<ui-nav></ui-nav>



<!-- about section -->
<app-home-about></app-home-about>



<!-- section projects -->
<app-home-projects></app-home-projects>



<!-- experience timeline -->
<app-home-experience></app-home-experience>



<!-- quote -->
<section id="quote" class="offset">
    <ui-quote [quote]="['Excellence is not a skill. It is an attitude']" [author]="['Ralph Marston']"></ui-quote>    
</section>



<!-- skills -->
<app-home-skills></app-home-skills>



<!-- footer -->
<ui-footer></ui-footer>
