.animated-delay-0 {
    animation-delay: (.2 * 1)+s;
    -webkit-animation-delay: (.2 * 1)+s;
}
.animated-delay-1 {
    animation-delay: (.2 * 2)+s;
    -webkit-animation-delay: (.2 * 2)+s;
}
.animated-delay-2 {
    animation-delay: (.2 * 3)+s;
    -webkit-animation-delay: (.2 * 3)+s;
}
.animated-delay-3 {
    animation-delay: (.2 * 4)+s;
    -webkit-animation-delay: (.2 * 4)+s;
}
.animated-delay-4 {
    animation-delay: (.2 * 5)+s;
    -webkit-animation-delay: (.2 * 5)+s;
}
.animated-delay-5 {
    animation-delay: (.2 * 6)+s;
    -webkit-animation-delay: (.2 * 6)+s;
}
.animated-delay-6 {
    animation-delay: (.2 * 7)+s;
    -webkit-animation-delay: (.2 * 7)+s;
}
.animated-delay-7 {
    animation-delay: (.2 * 8)+s;
    -webkit-animation-delay: (.2 * 8)+s;
}
.animated-delay-8 {
    animation-delay: (.2 * 9)+s;
    -webkit-animation-delay: (.2 * 9)+s;
}
.animated-delay-9 {
    animation-delay: (.2 * 10)+s;
    -webkit-animation-delay: (.2 * 10)+s;
}
.animated-delay-10 {
    animation-delay: (.2 * 11)+s;
    -webkit-animation-delay: (.2 * 11)+s;
}
.animated-delay-11 {
    animation-delay: (.2 * 12)+s;
    -webkit-animation-delay: (.2 * 12)+s;
}