$grid-row-width: $global-width !default;
$grid-column-count: 12 !default;
$grid-column-gutter: (
	small: 1rem,
    medium: 1.25rem,
    large: 1.5rem,
    xlarge: 1.75rem,
) !default;
$grid-column-align-edge: true !default;
$grid-column-alias: 'columns' !default;
$block-grid-max: 8 !default;
$end-float: if($grid-column-align-edge, $global-right, $global-left);


// imports
@import 'row';
@import 'column';
@import 'size';
@import 'position';
@import 'gutter';
@import 'classes';
@import 'layout';
@import 'flex-grid';